* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

.c1 {
  border: 2px solid black;
  background-color:grey;
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: black;
  text-align: justify;
  padding: 10px;
  position: relative;
}

.p1 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin-right: 5px;
  width: 70px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
  background-color: rosybrown;
  color: white;
}

.p2 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin-right: 5px;
  width: 70px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
  background-color: red;
  color: white;
}

.p3 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin-right: 5px;
  width: 70px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
  background-color: orange;
  color: white;
}

.p4 {
  position: absolute;
  top: 50px;
}

/* Simple Responsive Framework. */
.row {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 950px) and (max-width: 1199px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
  .col-md-12.c1 {
    width: 95%;
  }
  .c2 {
    width: 95%;
  } 
}